* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    .warning {
        text-align: center;
        padding: 20px 0;

        h1 {
            font-size: 40px;
            font-family: 'Nunito Sans', sans-serif;
        }
    }

    main {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    body {
        font-family: 'Poppins', sans-serif;
        padding: 50px 0;
    
        .warning {
            display: none;
        }
    
        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            header {
                display: flex;
                flex-direction: column;
                align-items: center;

                .profile-icon {
                    width: 80px;
                    background-color: rgb(218, 218, 218);
                    padding: 20px;
                    border-radius: 70px;

                    svg {
                        fill: rgb(194, 113, 220);
                    }
                }

                .welcome {
                    margin: 20px 0;

                    h1 {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 700;
                        margin: 20px 0;
                    }
                    p {
                        text-align: center;
                        color: rgb(177, 175, 175)
                    }
                }
            }

            form {
                width: 80%;

                .email-field {
                    display: flex;
                    gap: 0 10px;
                    padding: 8px 10px;
                    border-radius: 10px;
                    background-color: rgb(238, 237, 237);
                    margin-bottom: 20px;

                    svg {
                        width: 25px;
                    }

                    input {
                        border: none;
                        background-color: inherit;
                        font-size: 16px;
                    }
                }

                .password-field {
                    display: flex;
                    justify-content: space-between;
                    gap: 0 15px;
                    padding: 8px 10px;
                    border-radius: 10px;
                    background-color: rgb(238, 237, 237);

                    .password-left-side {
                        display: flex;

                        svg {
                            width: 25px;
                        }

                        input {
                            border: none;
                            background-color: inherit;
                            font-size: 16px;
                        }
                    }
                    svg {
                        width: 25px;
                    }
                }

                .forgot {
                    a {
                        float: right;
                        margin: 10px 0;
                        text-decoration: none;
                        color: rgb(194, 113, 220);
                    }
                }
    
                button {
                    display: block;
                    margin: 40px 0;
                    width: 100%;
                    padding: 10px 0;
                    background-color: rgb(194, 113, 220);
                    border: none;
                    border-radius: 30px;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            
            .login-hr {
                display: flex;
                justify-content: space-between;
                gap: 0 20px;
                align-items: center;
                
                .hr {
                    width: 100px;
                    border-top: 2px solid rgb(211, 211, 211);
                }

                p {
                    color: rgb(177, 175, 175);
                    font-size: 16px;                    
                }
            }
            
            .auth {
                margin: 50px 0;
                display: flex;
                justify-content: center;
                gap: 0 20px;

                .social-login {
                    display: flex;
                    align-items: center;
                    gap: 0 10px;
                    padding: 10px 30px;
                    border-radius: 30px;
                    border: 1px solid rgb(211, 211, 211);

                    svg {
                        width: 30px;
                    }
                }
            }

            .signup {
                p {
                    font-size: 16px;

                    a {
                        text-decoration: none;
                        color: rgb(194, 113, 220);
                    }
                }
            }
        }
    }
    
}
